/*Imported font from Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Roboto:wght@300&family=Shalimar&display=swap');

:root   {
    --primaryColor: #371d5c;
    --secondaryColor: #f4c371;
    --tertiaryColor: #923267;
    --fourthColor: #260e42;
    --additionalColor: #a9dbce;
    --accentColor: #e96aa1;
    --accentColorOpague:rgba(233,106,161,0.8);
    --secondYellow: #fec260;
}

body    {
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    background-color: var(--primaryColor);
}

/*Header styling*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25rem;
    color: var(--primaryColor);
    background-color: var(--secondYellow);

}

header a    {
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-in;
    padding: .5rem;
}

header a:hover   {
    text-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    font-weight: bold;
}

.score {
    
    font-weight: bold;
    padding: .5rem;
}

.titleHeading   {
    text-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    padding: 0;
    margin: 0;
}

.bee    {
    filter: drop-shadow(5px 5px 5px var(--primaryColor));
    height: 50px;
    width: 50px;
    position: relative;
    top: -0.75rem;
    right: 1rem
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;    
}

section h2  {
    font-size: 2rem;
    padding-top: 2rem;
    color: var(--additionalColor);
    text-align: center;
    text-shadow: 4px 4px 5px rgba(0,0,0,0.3);
    
}
.quizSpaceContainer  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    background-color: #FFF;
    border: 3px solid var(--additionalColor);
    border-radius: 2.5rem;
    box-shadow: 6px 6px 6px rgba(0,0,0,0.8);
}

.rules p    {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
    position: relative;
}

.startBtn   {
    padding: 1rem;
    margin-bottom: 1rem;
    min-width: 8rem;
    border-radius: .75rem;
    font-size: 1rem;
    font-family: inherit;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--primaryColor);
    color: #FFF;
    box-shadow: 6px 6px 6px rgba(0,0,0,0.3);
    transition: all 0.4s ease-in-out;
}
.startBtn:hover   {
    background-color: var(--additionalColor);
    color: var(--primaryColor);
    font-weight: bold;
    box-shadow: 6px 6px 6px rgba(0,0,0,0.3);
    transform: scale(1.25) rotate(360deg);
}
.hidden {
    display: none;
}

/*This make the questions visible and styles the questions*/
.makeVisible    {
    display: block;
    width: 90%;
}

.questionHeading   {
    font-size: 2rem;
    font-weight: lighter;
    text-align: left;
    color: var(--primaryColor);
    /* margin-left: 1rem; */
}
/*Styling for answer button*/
.answers {
    display: block;
    padding: 1rem;
    min-width: 16rem;
    margin-bottom: .5rem;
    border-radius: .75rem;
    font-size: 1rem;
    font-family: inherit;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    background-color: var(--primaryColor);
    color: #FFF;
    transition: all 0.2s ease-in-out;
}

.answers:hover {
    background-color: var(--secondYellow);
    color: var(--primaryColor);
    box-shadow: 6px 6px 6px rgba(0,0,0,0.3);
    transform: scale(1.25);
    box-shadow: 6px 6px 6px rgba(0,0,0,0.3);
}

/*stlying for status area*/
.statusArea{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-top: 2rem;
    border-top: 3px solid var(--additionalColor);
}

.answerStatus, .scoreStatus {
    font-size: 1.5rem;
    color: var(--primaryColor);
    text-align: left;
    margin-left: 1rem;
}
.right  {
    color: green;
    font-weight: bold;
    text-shadow: 3px 3px 4px rgba(0,0,0,0.3);
}
.wrong {
    color: red;
    font-weight: bold;
    text-shadow: 3px 3px 4px rgba(0,0,0,0.3);
}

/* Score Summary page styling*/
.scoreHeading   {
    font-size: 2rem;
    font-weight: lighter;
    color: var(--primaryColor);
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form input  {
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: #FFF;
    border: 3px solid var(--additionalColor);
    /* border-radius: 2.5rem; */
    box-shadow: 6px 6px 6px rgba(0,0,0,0.8);
    font-size: 1rem;
}
.form p {
    position: relative;
    top: 0.15rem;
    padding-top: px;
    font-size: 1.5rem;
    font-weight: lighter;
    color: var(--primaryColor); 
}
.submitBtn   {
    position: relative;
    top: 0.15rem;
    padding: 0.5rem;
    margin-left: 1rem;
    min-width: 7rem;
    border-radius: .75rem;
    font-size: 1rem;
    font-family: inherit;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--primaryColor);
    color: #FFF;
    box-shadow: 6px 6px 6px rgba(0,0,0,0.3);
    transition: all 0.4s ease-in-out;
}
.submitBtn:hover   {
    background-color: var(--additionalColor);
    color: var(--primaryColor);
    font-weight: bold;
    box-shadow: 6px 6px 6px rgba(0,0,0,0.3);
    transform: scale(1.25) rotate(360deg);
}
.scoreBtn    {
    padding: .75rem;
    margin: 0.5rem 1rem;
    min-width: 8rem;
    border-radius: .75rem;
    font-size: 1rem;
    font-family: inherit;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--primaryColor);
    color: #FFF;
    box-shadow: 6px 6px 6px rgba(0,0,0,0.3);
    
}
.scoreBtn:hover   {
    background-color: var(--additionalColor);
    color: var(--primaryColor);
    font-weight: bold;
    box-shadow: 6px 6px 6px rgba(0,0,0,0.3);
}
/*media queries to change hearder*/
@media screen and (min-width: 768px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.25rem;
        background-color: var(--secondYellow);
    }
    .questionHeading   {
        font-size: 2rem;
        font-weight: lighter;
        text-align: left;
   }
   .submitBtn   {
       min-width: 4rem;
   }

}
@media screen and (max-width: 425px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-size: 1.25rem;
    }
    .answers {
        margin: 0 auto;
        padding: 1rem;
        margin-bottom: .5rem;
    }
}
    @media screen and (max-width: 700px) {
        header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            font-size: 1.25rem;
            background-color: var(--secondYellow);
        }
        .questionHeading   {
            font-size: 2rem;
            font-weight: lighter;
            text-align: center;
      }
        .answers {
            margin: 0 auto;
            padding: 1rem;
            margin-bottom: .5rem;
        }
  
}